body{
    background-image: url('backvalo.jpg');
    background-position:center ;
    background-size: cover;
    font-family: 'poppins',sans-serif;
}
form{
    width: 24%;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(247, 30, 30) 100.3%);
    padding: 50px;
    border-radius: 20px;
    margin-top: 100px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #868f96 0%, #ffff 100%);
}
